<img
    class="o-fitImageCover lazyload ls-blur{% if absolute == true %} o-posAbsoluteCenter{% endif %}"
    alt="{{ alt }}"
    src="{{ site.imageurl }}{{ image }}-src.jpg"
    data-sizes="auto"
    data-srcset="{{ site.imageurl }}{{ image }}-sm.jpg 900w, {{ site.imageurl }}{{ image }}.jpg 1800w"
    />

{% comment %}
<img
    class="FlexEmbed-fitImage lazyload ls-blur{% if absolute == true %} u-posAbsoluteCenter{% endif %}"
    alt="{{ alt }}"
    src="{{ image }}-src.jpg"
    data-sizes="auto"
    data-srcset="{{ image }}-src.jpg 300w, {{ image }}-xs.jpg 900w, {{ image }}.jpg 1800w"
    />
{% endcomment %}
