

// --------------------------------------------------------------------------
//   HEADER LAYOUT
// --------------------------------------------------------------------------


.c-header {
    height: 100vh;
	position: relative;
    width: 100%;

    img {
        opacity: 0.85;
    }

    .c-headline,
    .c-nav-item {
        color: palette(brand);
    }
}

.c-header-wrapper {
    @include o-posFullScreen(absolute);
    background-color: rgba(palette(text), 0.9);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.c-logo {
    text-align: center;

    svg {
        // transform/animation
        //animation: spin 3000ms cubic-bezier(0.19, 1, 0.22, 1) 200ms 1 normal both;
        //animation: spin 300s infinite linear;
        //transform: rotate(-30deg);

        fill: palette(brand);
        height: 50vh;
        width: 100%;
    }
}




// Section blocks
// --------------------------------------------------------------------------

.c-main {
    position: relative;
}

.c-section {
    padding: $blockSpace 0 0;
    position: relative;
}

.c-section--panel {
    background-color: rgba( palette(neutral), 0.7 );
}

.c-section--reverse {
    min-height: 60vh;

    @include media-breakpoint-up(sm) {
        min-height: 800px;
    }

    h2,
    p,
    li,
    a {
        color: palette(background);
    }
}



// Section scope
// --------------------------------------------------------------------------

.s-section {
    a {
        @include underlineLink();
    }

    //h3,
    h4 {
        @include verticalRhythm();
    }

    h4 {
        border-bottom: 1px solid rgba( palette(text), 0.5);
        //background-color: palette(text);
        //background-color: rgba( palette(brand), 0.3);
        font-family: $font-text-regular;
        //padding: space(0.25) space(0.5);
        //margin: space(1) 0;
        padding-bottom: space(0.5);
    }

    &--mapLink a {
        @include underlineLink(none);
        position: relative;

        &:after {
            @include textXs();
            //background-color: palette(text);
            border: 1px solid currentColor;
            border-radius: 3px;
            content: "map";
            color: palette(text);
            //color: rgba( palette(brand), 0.8);
            display: inline-block;
            font-family: $font-text-bold;
            margin-left: 6px;
            padding: 0 3px;
            position: absolute;
            text-transform: uppercase;
            transform: translateY(4px);

            @include media-breakpoint-up(sm) {
                border-width: 2px;
                margin-left: 12px;
            }
        }
    }

    + .s-section {
        margin-top: $blockSpace * 0.25;
    }
}





.s-list {
    margin-top: $paragraphSpace * 0.75;

	@include media-breakpoint-up(sm) {
        columns: auto 2;
        margin-top: $paragraphSpace;
    }

    // http://stackoverflow.com/questions/5314726/css-multi-column-layout-of-list-items-doesnt-align-properly-in-chrome
    > * {
        display: inline-block;
        width: 100%;
    }

    + h4 {
        margin-top: $paragraphSpace * 0.75;
    }

    span {
        display: inline-block;
        min-width: 30%;

        @include media-breakpoint-up(sm) { min-width: 30%; }
    }

    //@include media-breakpoint-up(sm) { width: 95%; }
    @include media-breakpoint-up(lg) { width: 85%; }
}





// Footer
// --------------------------------------------------------------------------

.c-footer {
    padding: $blockSpace 0 $blockSpace * 0.5;
}

.c-footer p {
    @include textSm();
    border-top: 1px solid palette(text);
    //color: palette(medium);
    padding-top: space(1);
}

@include media-breakpoint-up(sm) {
    .u-sm-before3of12 {
        margin-left: 25%;
    }
}
