@include media-breakpoint-down(sm) {
    .u-smDown-hide {
        display: none !important;
    }
}

@include media-breakpoint-up(sm) {
    .u-sm-hide {
        display: none !important;
    }
}

// quick spacers
// --------------------------------------------------------------------------

.u-spaceB        { margin-bottom: $blockSpace * 0.5; }



//.u-spaceTD2    { margin-top: space(0.5); }
//.u-spaceT      { margin-top: space(1); }
//.u-spaceT2     { margin-top: space(2); }
//.u-spaceB      { margin-bottom: space(1); }
//.u-spaceB2     { margin-bottom: space(2); }

//.u-sm-spaceT   { @include media-breakpoint-down(sm) { margin-top: space(1); } }
//.u-sm-spaceT2  { @include media-breakpoint-down(sm) { margin-top: space(2); } }
//.u-sm-spaceTD2 { @include media-breakpoint-down(sm) { margin-top: space(0.5); } }

//.u-lg-spaceT   { @include media-breakpoint-down(lg) { margin-top: space(1); } }
//.u-lg-spaceTD2 { @include media-breakpoint-down(lg) { margin-top: space(0.5); } }

//.u-xl-spaceT   { @include media-breakpoint-down(xl) { margin-top: space(1); } }
