---
layout: default
---

{% comment %}
    markup for ! Modernizr.objectfit:
    <header class="c-header o-posAbsoluteCenterAlt c-imageBlend o-coverImage" role="banner" style="background-image: url('/assets/images/header.jpg')">
{% endcomment %}

<header class="c-header" role="banner">
    {% assign image = "header" %}
    {% include responsive-image.html %}

	<div class="c-header-wrapper">
		<div class="o-aligner">
			<div class="o-aligner-item">
				<div class="o-container c-hero">
                    <figure class="c-logo">
                        <svg class="">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                        </svg>
                    </figure>

				</div>
			</div>
		</div>
	</div>

    <div class="c-nav-wrapper">
        <div class="o-container">
            <nav class="c-nav" id="nav">
                {% comment %}
                {% for section in page.sections %}
                    <div class="c-nav-item"><a href="#{{ section.id | remove: " " }}">{{ section.id }}</a></div>
                {% endfor %}
                {% endcomment %}
                <div class="c-nav-item"><a href="#TheNash2016">The Nash<span class="u-smDown-hide"> 2016</span></a></div>
                <div class="c-nav-item"><a href="#Thursday">Thurs<span class="u-smDown-hide">day</span></a></div>
                <div class="c-nav-item"><a href="#Friday">Friday</a></div>
                <div class="c-nav-item"><a href="#Saturday">Sat<span class="u-smDown-hide">urday</span></a></div>
                <div class="c-nav-item"><a href="#Sunday">Sunday</a></div>
                <div class="c-nav-item"><a href="#GettingThere"><span class="u-sm-hide">PT</span><span class="u-smDown-hide">Getting there</span></a></div>
                <div class="c-nav-item"><a href="#ContactUs">Contact<span class="u-smDown-hide"> Us</span></a></div>
            </nav>
        </div>
    </div>
</header>




<main class="c-main" aria-label="Content">

    <div class="o-container">

        {% for section in page.sections %}

            <section
                class="c-section {% if section.locations %}c-section--locations{% endif %}"
                id="{{ section.id | remove: " " }}">

                {% if section.headline %}
                    <h1 class=""><span><em>“</em>This Gets To Me<em>”</em></span></h1>
                {% endif %}

                <div class="Grid Grid--withGutter">
                    <div class="Grid-cell u-sm-size3of12">
                        <h2 class="">{{ section.title |  }}</h2>
                    </div>
                    <div class="Grid-cell u-sm-size9of12">
                        {% if section.copy %}
                            <div class="s-section">
                                {{ section.copy | markdownify }}
                            </div>
                        {% endif %}


                        {% comment %}
                        ---------------------------------------------
                            The schedule
                        ---------------------------------------------
                        {% endcomment %}

                        {% if section.id == 'Thursday' %}
                            {% for timeblock in site.data.thursday %}
                                {% include schedule.html %}
                            {% endfor %}
                        {% elsif section.id == 'Friday' %}
                            {% for timeblock in site.data.friday %}
                                {% include schedule.html %}
                            {% endfor %}
                        {% elsif section.id == 'Saturday' %}
                            {% for timeblock in site.data.saturday %}
                                {% include schedule.html %}
                            {% endfor %}
                        {% elsif section.id == 'Sunday' %}
                            {% for timeblock in site.data.sunday %}
                                {% include schedule.html %}
                            {% endfor %}
                        {% endif %}


                    </div>
                </div>
            </section>

        {% endfor %}

    </div>
</main>

<footer class="c-footer">
    <div class="o-container">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-before3of12 u-sm-size9of12">
                <p class="">Copyright © 2016 Melbourne Soul. <span class="u-smDown-lineBreak">Site by <a href="http://www.patternworks.com.au">Patternworks</a>.</span></p>
            </div>
        </div>
    </div>
</footer>
